<%= render partial: "shared/nav" %>

<body>
  <div class="row">
    <p class='col-12'><%= @coupon.name %></p>
  </div>


  <p>Code: <%= @coupon.coupon_code %></p>
  <p>Discount: <%= @coupon.discount_amount %> <%= @coupon.discount_type %> off</p>
  <p>Times Used: <%= @coupon.times_used %></p>
  <p>Status: <%= @coupon.status.capitalize %></p>
  <% if @coupon.status == "active" %>
    <%= button_to "Deactivate", merchant_coupon_status_path(@merchant, @coupon), method: :patch, params: {status: "inactive"} %>
  <% elsif @coupon.status == "inactive" %>
    <%= button_to "Activate", merchant_coupon_status_path(@merchant, @coupon), method: :patch, params: {status: "active"} %>
  <% end %>

</body>